body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.Nav {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
}

.box img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.box h2 {
    margin: 0;
    color: #333;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background-color: #333;
    color: #fff;
}

.logo {
    float: left;
}

.logo img {
    height: 50px; /* Aanpassen naar de gewenste grootte */
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.banner {
    background-image: url('images/banner.jpg'); /* De URL van de banner afbeelding */
    background-size: 100% auto; /* Laat de banner de volledige breedte van het scherm innemen en pas de hoogte automatisch aan */
    background-position: center;
    height: 300px; /* Hoogte van de banner */
    width: 100%; /* Maak de banner de volledige breedte van het scherm */
    position: relative;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Zorg ervoor dat de tekst zichtbaar is op de afbeelding */
}

.banner h1 {
    font-size: 3em;
    margin: 0;
}

@media (max-width: 768px) {
    .container {
        width: 90%; /* Maak de container iets smaller voor kleinere schermen */
    }
}


