/* VARIABELEN */

:root {
    --primary-color: #464646;
    --shadow-color: #0000001a;
    --max-width: 1000px;
}

/* BODY */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f3;
}

/* HEADER */

header {
    background-color: var(--primary-color);
    height: 100px;
    display: flex;
}
header .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: auto;
    width: 100%;
}
header .max-width a img {
    height: 50px;
}
header .max-width nav .nav-item {
    color: #ffffff80;
    text-decoration: none;
    margin-left: 5px;
}
header .max-width nav .nav-item:hover {
    text-decoration: underline;
    color: white;
}
header .max-width nav .current-nav-item {
    color: white;
}

/* BANNER */

#banner {
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* MAIN */

main {
    max-width: var(--max-width);
    margin: auto;
    margin-bottom: 20px;
}

main section .boxed-container {
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    background-color: white;
}

main section ul li {
    margin-bottom: 10px;
}

main #ai-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
main #ai-items .ai-item {
    padding: 20px;
    padding-bottom: 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    background-color: white;
    transition: transform 0.3s;
    text-align: center;
}
main #ai-items .ai-item:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
main #ai-items .ai-item img {
    width: 100%;
}
main #other-ai-items {
        padding: 5px 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px var(--shadow-color);
        background-color: white;
}

main form {
    width: 750px;
    max-width: calc(100% - 40px);
    padding: 5px 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px var(--shadow-color);
    background-color: white;
    margin: auto;
}
main form label {
    color: rgba(0, 0, 0, 0.75);
}
main form input {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 5px;
    border: none;
    box-shadow: 0 1px 5px var(--shadow-color);
    border-radius: 5px;
    height: 30px;
}
main form select {
    border: none;
    box-shadow: 0 1px 5px var(--shadow-color);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.75);
}
main form #submit {
    background-color: var(--primary-color);
    margin-top: 2px;
    border: none;
    color: white;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
main form select {
    height: 30px;
}

/* FOOTER */

footer {
    background-color: var(--primary-color);
    color: white;
    height: 150px;
}
footer .max-width {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: var(--max-width);
    margin: auto;
    height: 100%;
}
footer .max-width #contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .max-width #contact a {
    color: #ffffff80;
}
footer .max-width #contact a:hover {
    color: white;
}
footer .max-width #contact #socials {
    font-size: 20px;
}

/*BUTTONS*/

.buttons {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    width: 100%;
}

button {
    display: flexbox;
    width: 45%;
    background-color: var(--primary-color);
    margin-top: 2px;
    border: none;
    color: white;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: row;
}

button a:hover {
    color: #000;
}

/*CONTENT*/

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}


/*lEFT-RIGHT*/

.left {
    margin-top: 1em;
    float: left;
    width: 100%;
    text-align: left;
    flex-direction: row;
}

.right {
    float: right;
    width: 100%;
    text-align: left;
    flex-direction: row;
}

.left img {
    max-width: 33%;
    max-height: 100%;
    margin: 20px 0 20px;
}

.left-list, .right-list {
    list-style-type: none;
    padding: 0;
}

.left-list li, .right-list li {
    margin-bottom: 10px;
}

/*COLUMNS*/
.column {
  float: left;
  width: 47%;
  margin: 15px;
  justify-content: space-between;
}

/*ROWS*/
.row::after {
  content: "";
  display: table;
  clear: both;
}
/*VIEWPORTS*/

@media (max-width: 1080px) {

    /* HEADER */

    header .max-width {
        margin: 0 40px;
    }

    /* MAIN */

    main {
        margin: 0 40px;
        margin-bottom: 20px;
    }
    main #ai-items {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /* FOOTER */

    footer .max-width {
        margin: 0 40px;
    }
    
    .column {
        width: 100%;
    }

    
}

@media (max-width: 750px) {

    /* MAIN */

    main #ai-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 500px) {

    /* HEADER */

    header .max-width {
        flex-direction: column;
        justify-content: space-around;
    }

    /* MAIN */

    main #ai-items {
        grid-template-columns: 1fr 1fr;
    }

    /* FOOTER */

    footer .max-width #contact {
        flex-direction: column;
    }
    footer .max-width #contact #socials {
        margin: 10px 0;
    }
}